@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan Reset Global ini */
:root, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Mencegah scroll ke samping yang tidak perlu */
}